/* src/App.css */

.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
}
h2{
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 20px;
}
.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 20px;
  padding: 10px;
}

.chart {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .chart-container {
    grid-template-columns: 1fr;
  }
}
